huggingface_hub

einops==0.8.0
jaxtyping==0.2.36
omegaconf==2.3.0
transformers==4.48.1
open_clip_torch==2.30.0
trimesh==4.6.0
numpy==1.26.4

rembg[gpu]==2.0.61
rembg==2.0.61

gpytoolbox==0.3.3
pynanoinstantmeshes==0.0.3
